.container-fluid {
  background: rgb(203, 184, 247);
  border: 1px solid;
  border-radius: 5px;
  border-color: black;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  padding: 10px;
  margin: 10px auto;
  text-align: left;
  height: 90%;
}

.col-sm-3 {
  padding-right: 0px;
}

.col-sm-2 {
  padding-left: 0px;
}

.currentTime {
  font-size: 15px;
  text-align: right;
  padding-top: 8px;
}

.currentCity {
  padding-top: 8px;
  font-size: 20px;
  margin-top: 15px;
}
.currentTemp {
  font-size: 31px;
  margin-bottom: 2px;
  padding-right: 5px;
}
.unit {
  font-size: 20px;
  position: relative;
  left: -7px;
  bottom: 4px;
}
.feelslike {
  font-size: 20px;
  position: relative;
  bottom: -10px;
}
.fa-sun {
  color: rgb(255, 196, 0);
}
.fa-moon {
  color: rgb(43, 170, 192);
}
.sunrisesunset {
  font-size: 20px;
  position: relative;
  bottom: -10px;
}
.temperatures {
  margin: 0 auto;
  background: rgba(255, 248, 220, 0.918);
}
.currentWeather {
  background: rgb(231, 240, 198);
  border: 2px;
  margin: 0 auto;
}
.skyimage {
  position: relative;
  bottom: -15px;
}
ul {
  padding: 5px;
}
li {
  list-style: none;
}

.wind {
  font-size: 40px;
  color: rgb(141, 206, 252);
}
.humidity {
  font-size: 40px;
  color: rgb(145, 191, 250);
}

.description,
.wet,
.windspeed {
  margin-bottom: 10px;
  text-align: center;
  font-size: 12px;
  padding: 0px;
  font-weight: bold;
}
.col-4 {
  padding: 0px;
  margin: 0 auto;
}
.card-body {
  padding: 5 0 0 0px;
  text-align: center;
}

.image {
  text-align: center;
}
.comment {
  padding: 15px;
  font-size: 12px;
}
.col-6 {
  margin-top: 5px;
}
.hour {
  font-weight: 1000;
  text-align: center;
  text-decoration: tomato;
}
.first {
  margin-bottom: 5px;
  border: 1px;
}
.WeatherForecastPreview {
  margin: 0 auto;
  align-items: center;
}
.returnforecast {
  margin: 0 auto;
  border: 1px;
  background: bisque;
}
/*
form {
  font-size: ;
}
button,
input {
  background: rgb(224, 224, 240);
  border-radius: 5px;
  font-size: 9px;
}


.form-group {
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  margin-bottom: 0px;
}


.sunrisesunset {
  font-size: 9px;
  padding-bottom: 5px;
}
.description,
.windHumidity,
.feelslike {
  font-size: 14px;
  list-style: none;
  margin: 0 auto;
}


,
.windHumidity {
  text-align: center;
}
button,
input {
  display: inline;
  background: rgb(224, 224, 240);
  box-shadow: 1px 1px 1px;
  border-radius: 5px;
}

.currentCity {
  font-size: 14px;
  margin-bottom: 15px;
  margin-top: 15px;
}


p {
  font-size: 13px;
  margin-bottom: 0px;
}

.today {
  margin-left: 5px;
  margin-bottom: 15px;
  display: block;
  text-align: left;
}
.temperature,
.sky,
.humidity,
.wind {
  font-size: 18px;
  padding: 0;
  margin: 0;
  text-align: left;
}

.todaysForecast {
  font-size: 11px;
  display: block;
  margin: 0;
  border: 0px;
  padding: 0;
}

.forecast .row {
  line-height: 8px;
  margin: 0 auto;
  padding: 0;
  border: 0;
  display: inline-block;
}
.forecast {
  opacity: 0.7;
  font-size: 8px;
  margin: 0 auto;
  display: inline-block;
}
.forecast,
.col-sm-1,
.col-sm,
.card-body,
.card-title {
  padding: 0;
  text-align: left;
  display: inline-block;
  margin: 0 auto;
}
.card-text .low,
.high,
.rain {
  font-size: 10px;
  display: inline-block;
  margin: 0 auto;
}
.card-text .low {
  background: blue;
  color: white;
  margin: 0 auto;
}
.card-text .high {
  background: red;
  color: white;
  margin: 0 auto;
}
*/
